<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- ARR reverse proxy to uvicorn. Scrape can take up to 4 minutes. -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <proxy enabled="true" timeout="00:06:00" responseBufferLimit="0" />
    <rewrite>
      <rules>
        <rule name="ReverseProxyToJobDiscovery" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:9001/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
